#about {

    .about-content {
        .picture {
            img {
                height: 140px;
            }
        }

        .text-content {
            background-color: $darkerColor;
            padding: 30px;
            border-radius: 30px;
        }

        // Icons grid row
        .interests {
            .box {
                text-align: center;
                height: 90px;
                width: 90px;
                display: grid;
                place-items: center;

                i {
                    font-size: 40px;
                }
            }
        }
    }
    
}