#about {
    height: 100vh;

    .about-content {
        .picture {
            img {
                height: 140px;
            }
        }

        .text-content {
            background-color: $darkerColor;
            padding: 30px;
            border-radius: 20px;
        }

        .interests {
            .box {
                text-align: center;

                i {
                    font-size: 40px;
                }
            }
        }

        // Media query
        @include media(">=desktop") {
            .picture {
                margin-right: 80px;
            }
        }
    }
}