$backgroundColor: #121212;
$borderColor: #313131;
$darkerColor: #0c0c0c;

$primaryText: #fff;
$secondaryText: #adadad;
$tertiaryText: #929292;

$blue: #428de8;
$red: #d35151;
$green: #51d37a;
$yellow: #e6db62;
$purple: #7b49db;